:root {
    --black: #333333;
    --white: #FFFFFF;
    --border: 1px;
    --radius: 4px;
}

@font-face {
    font-family: 'norse';
    src: url("./fonts/norse/Norse.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'norse';
    src: url("./fonts/norse/Norsebold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url("./fonts/montserrat/Montserrat-VariableFont_wght.woff2");
    font-weight:normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url("./fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;

    display: flex;

    font-family: "montserrat";
    color: var(--white);
}

.main-image {
    position: relative;
}

.main-image img {
    height: 100vh;
    width: auto;
    display: block;
}

.main-image p {
    position: absolute;
    margin: 0;
    display: inline;
    bottom: 10px;
    left: 10%;
    right: 10%;

    color:white;
    font-size: 12px;
    text-align: center;
}

.main-image a {
    color: inherit;
}

.form-structure {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.logo img {
    height: 80px;
}

.logo p {
    color: var(--white);
    font-family: 'norse';
    font-weight: bold;
    font-size: 4rem;
}
.sign-up-form {
    width: 540px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.form-row label {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;

    display: block;
    margin-bottom: 4px;
}

.form-row input {
    min-width: 200px;
    height: 40px;
    padding: 0 4px 8px 0;

    font-size: 16px;
    font-family: inherit;
    
    appearance: none;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--black);
    border-bottom: var(--border) solid var(--white);
}

.form-row p {
    margin: 20px 0;
}