:root {
    --black: #2b2b2b;
    --white: #FFFFFF;
    --grey: #e2e2e2;
    --border: 1px;
    --radius: 4px;
    --page-width: 560px;
    --page-gap: 20px;
    --light-red: rgb(219, 33, 33);
    --light-blue: rgb(67, 111, 255);
}

@font-face {
    font-family: 'norse';
    src: url("./fonts/norse/Norse.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'norse';
    src: url("./fonts/norse/Norsebold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url("./fonts/montserrat/Montserrat-VariableFont_wght.woff2");
    font-weight:normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url("./fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;

    display: flex;

    font-family: "montserrat";
    color: var(--white);
}

.main-image {
    position: relative;
}

.main-image img {
    height: 100vh;
    width: auto;
    display: block;
}

.main-image p {
    position: absolute;
    margin: 0;
    display: inline;
    bottom: 10px;
    left: 10%;
    right: 10%;

    color:white;
    font-size: 12px;
    text-align: center;
}

.main-image a {
    color: inherit;
}

.form-structure {
    background-color: var(--black);
    box-shadow: inset 10px 0 10px -10px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: var(--page-gap);
}

.logo {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 80px;
}

.logo p {
    margin: 0;
    color: var(--white);
    font-family: 'norse';
    font-weight: bold;
    font-size: 4rem;
}

.sign-up-form {
    width: var(--page-width);
}

.italic {
    font-style: italic;
}

.text {
    width: var(--page-width);
    color: var(--grey);
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.form-row label {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;

    display: block;
    margin-bottom: 4px;
}

.form-row input {
    min-width: 260px;
    height: 40px;
    padding: 0 4px 8px 0;

    font-size: 16px;
    font-family: inherit;
    
    appearance: none;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--black);
    border-bottom: var(--border) solid var(--white);
}

.form-row p {
    margin: 20px 0;
}

.submit-btn {
    display: flex;
    flex-direction: column;
    margin-top: var(--page-gap);
}

button[type="submit"] {
    all: unset;
    cursor: pointer;
    flex-shrink: 1;

    width: var(--page-width);
    padding: 16px 0;

    background-color: var(--white);
    border-radius: var(--radius);
    
    font-weight: bold;
    color: var(--black);
    text-align: center;
}

.submit-btn a {
    color: inherit;
    font-weight: bold;
}

#password:user-invalid,
#confirm-password:user-invalid {
    border-bottom: var(--border) solid var(--light-red);
}

input:focus {
    border-bottom: var(--border) solid var(--light-blue);
    box-shadow: 0 2px 2px -2px black;
}